@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#menu {
    transition: transform 300ms, filter 600ms;
}

#menu:not(.active) {
    transform: translateX(100%);
    filter: blur(100px);
}

.menu-wrapper {
    z-index: 3;
}

.menu-wrapper:has(#menu:not(.active)) {
    z-index: -1;
    transition-delay: 300ms;
}

.explore::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.25;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
}

.explore:hover::before {
    transform: scale(1.5);
}

.explore::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    transform: scale(1.1);
    border-radius: 50%;
    visibility: hidden;
}

.explore:active::after {
    visibility: visible;
}

.links a.active,
.planets div.active {
    border-bottom: 2px solid white;
}

.links a:not(.active):hover,
.planets div:not(.active):hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.crewMem.active {
    background-color: white;
}

@layer utilities {
    .tech.active {
        background-color: white;
        @apply text-blackFont
    }
}

#destInfo {
    flex: 1 0 50%;
}

.planetImg {
    transition: 300ms;
}

.planetImg[data-status="pending"] {
    z-index: -1;
    transform: scale(0);
}

.planetImg[data-status="nextLeft"] {
    transform: translateX(-100%) scale(0);
    z-index: 2;
}

.planetImg[data-status="nextRight"] {
    transform: translateX(100%) scale(0);
    z-index: 2;
}

.planetImg[data-status="active"] {
    transform: translateX(0) scale(1);
    z-index: 1;
}

.crewImageBox {
    transition: 300ms;
}

.crewImageBox[data-status="pending"] {
    opacity: 0;
    z-index: -1;
}

.crewImageBox[data-status="nextLeft"] {
    opacity: 0;
    z-index: 2;
}

.crewImageBox[data-status="nextRight"] {
    opacity: 0;
    z-index: 2;
}

.crewImageBox[data-status="active"] {
    opacity: 1;
    z-index: 1;
}

.techImageBox {
    transition: 800ms;
}

.techImageBox[data-status="pending"] {
    transform: translateY(-300%);
    opacity: 0;
    z-index: -1;
}

.techImageBox[data-status="active"] {
    z-index: 1;
}




@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* ----------------------------------- */
/* .box {
    transition: 300ms;
}

.box[data-status="pending"] {
    z-index: -1;
    transform: scale(0);
}

.box[data-status="nextLeft"] {
    transform: translateX(-100%) scale(0);
    z-index: 2;
}

.box[data-status="nextRight"] {
    transform: translateX(100%) scale(0);
    z-index: 2;
}

.box[data-status="active"] {
    transform: translateX(0) scale(1);
    z-index: 1;
} */

/* .box {
    transition: 300ms;
}

.box[data-status="pending"] {
    opacity: 0;
    z-index: -1;
}

.box[data-status="nextLeft"] {
    opacity: 0;
    z-index: 2;
}

.box[data-status="nextRight"] {
    opacity: 0;
    z-index: 2;
}

.box[data-status="active"] {
    opacity: 1;
    z-index: 1;
} */

.box {
    transition: 300ms;
}

.box[data-status="pending"] {
    transform: translateY(-300%) scale(0.8);
    opacity: 0;
    z-index: -1;
}

.box[data-status="active"] {
    transform: translateX(0) scale(1);
    z-index: 1;
}

/* ----------------------------------- */