@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.explore::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.25;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
}

.explore:hover::before {
    transform: scale(1.5);
}

.explore::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    transform: scale(1.1);
    border-radius: 50%;
    visibility: hidden;
}

.explore:active::after {
    visibility: visible;
}

.links a.active {
    border-bottom: 4px solid white;
}

.links a:not(.active):hover {
    border-bottom: 4px solid rgba(255, 255, 255, 0.25);
    /* border-bottom: 4px solid;
    animation-name: lightup;
    animation-duration: 1.5s;
    animation-iteration-count: 1; */
}

@keyframes lightup {
    0% {
        border-color: transparent;
    }

    15% {
        border-color: white;
    }

    30% {
        border-color: transparent;
    }

    40% {
        border-color: white;
    }

    50% {
        border-color: transparent;
    }

    55% {
        border-color: white;
    }

    60% {
        border-color: transparent;
    }

    65% {
        border-color: white;
    }

    /* 70% {
        border-color: transparent;
    }

    75% {
        border-color: white;
    } */

    80% {
        border-color: transparent;
    }

    85% {
        border-color: white;
    }

    87% {
        border-color: transparent;
    }

    89% {
        border-color: white;
    }

    90% {
        border-color: transparent;
    }

    91% {
        border-color: white;
    }

    92% {
        border-color: transparent;
    }

    93% {
        border-color: white;
    }

    94% {
        border-color: transparent;
    }

    95% {
        border-color: white;
    }

    96% {
        border-color: transparent;
    }

    97% {
        border-color: white;
    }

    98% {
        border-color: white;
    }

    99% {
        border-color: white;
    }

    100% {
        border-color: transparent;
    }
}