@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.explore::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.25;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
}

.explore:hover::before {
    transform: scale(1.5);
}

.explore::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    transform: scale(1.1);
    border-radius: 50%;
    visibility: hidden;
}

.explore:active::after {
    visibility: visible;
}

.links a.active,
.planets div.active {
    border-bottom: 2px solid white;
}

.links a:not(.active):hover,
.planets div:not(.active):hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.crewMem.active {
    background-color: white;
}

@layer utilities {
    .tech.active {
        background-color: white;
        @apply text-blackFont
    }
}

.planetImg {
    transition: 300ms;
}

.planetImg[data-status="pending"] {
    z-index: -1;
    transform: scale(0);
}

.planetImg[data-status="nextLeft"] {
    transform: translateX(-100%) scale(0);
    z-index: 2;
}

.planetImg[data-status="nextRight"] {
    transform: translateX(100%) scale(0);
    z-index: 2;
}

.planetImg[data-status="active"] {
    transform: translateX(0) scale(1);
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* ----------------------------------- */
.planetImg {
    transition: 300ms;
}

.planetImg[data-status="pending"] {
    z-index: -1;
    transform: scale(0);
}

.planetImg[data-status="nextLeft"] {
    transform: translateX(-100%) scale(0);
    z-index: 2;
}

.planetImg[data-status="nextRight"] {
    transform: translateX(100%) scale(0);
    z-index: 2;
}

.planetImg[data-status="active"] {
    transform: translateX(0) scale(1);
    z-index: 1;
}

/* ----------------------------------- */